In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Bengaluru_House_Data.csv")

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
for columns in df.columns:
    print(df[columns].value_counts())
    print("")

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64

1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64

2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64

2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64

75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64

In [6]:
#cheak the null value
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [8]:
df.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [9]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [10]:
df['location']=df['location'].fillna('Sarjapur  Road ')

In [11]:
df['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [12]:
df['size']=df['size'].fillna(value='BHK')

In [13]:
df['bath']=df['bath'].fillna(df['bath'].median())

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [15]:
import re
import numpy as np

# Replace NaN values in the 'size' column with empty strings
df['size'] = df['size'].fillna('0')

# Extract the numeric part from the 'size' column
df['BHK'] = df['size'].str.extract(r'(\d+)', expand=False)

# Convert the extracted values to integers, replacing empty strings with NaN
df['BHK'] = pd.to_numeric(df['BHK'], errors='coerce').astype('Int64')

# Alternatively, you can use the 'float' dtype if you want to allow float values
# df['BHK'] = pd.to_numeric(df['BHK'], errors='coerce').astype(float)

In [16]:
#df['size'].fillna('0', inplace=True)
#df['bhk'] = df['size'].str.extract(r'(\d+)', expand=False).astype(int)

In [17]:
df[df.BHK >20]

                       location        size total_sqft  bath  price  BHK
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [18]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [19]:
def convertRange(x):
    if isinstance(x, float):
        return x
    temp = x.split("_")
    if len(temp) == 2:
        return (float(temp[0]) + float(temp[1])) / 2
    try:
        return float(x)
    except ValueError:
        return None

In [20]:
df['total_sqft']=df['total_sqft'].apply(convertRange)

In [21]:
df.head()

                   location       size  total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [22]:
#from sklearn.preprocessing import LabelEncoder
#lr=LabelEncoder()
#df['location']=lr.fit_transform(df['location'])
#df['location']

# PRICE per square feet

In [29]:
df['price_per_sqft']=df['price']*100000/df['total_sqft']

In [30]:
df['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [31]:
df.describe()

         total_sqft          bath         price       BHK  price_per_sqft
count  13073.000000  13320.000000  13320.000000   13304.0    1.307300e+04
mean    1554.942029      2.688814    112.565627  2.803743    7.949600e+03
std     1238.458773      1.338754    148.971674  1.294974    1.072440e+05
min        1.000000      1.000000      8.000000       1.0    2.678298e+02
25%     1100.000000      2.000000     50.000000       2.0    4.265734e+03
50%     1275.000000      2.000000     72.000000       3.0    5.454545e+03
75%     1670.000000      3.000000    120.000000       3.0    7.338057e+03
max    52272.000000     40.000000   3600.000000      43.0    1.200000e+07

In [32]:
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: location, Length: 1306, dtype: int64

In [37]:
df['location']=df['location'].apply(lambda x: x.strip())
location_counts=df['location'].value_counts()

In [38]:
location_counts

Whitefield                        541
Sarjapur  Road                    400
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1294, dtype: int64

In [39]:
location_counts_less10=location_counts[location_counts<=10]
location_counts_less10

Dairy Circle                      10
Nagappa Reddy Layout              10
Basapura                          10
1st Block Koramangala             10
Sector 1 HSR Layout               10
                                  ..
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
singapura paradise                 1
Abshot Layout                      1
Name: location, Length: 1053, dtype: int64

In [40]:
df['location']=df['location'].apply(lambda x: 'other' if x in location_counts_less10 else x)

In [41]:
df['location'].value_counts()

other                 2885
Whitefield             541
Sarjapur  Road         400
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

# outlier detection and removal

In [42]:
df.describe()

         total_sqft          bath         price       BHK  price_per_sqft
count  13073.000000  13320.000000  13320.000000   13304.0    1.307300e+04
mean    1554.942029      2.688814    112.565627  2.803743    7.949600e+03
std     1238.458773      1.338754    148.971674  1.294974    1.072440e+05
min        1.000000      1.000000      8.000000       1.0    2.678298e+02
25%     1100.000000      2.000000     50.000000       2.0    4.265734e+03
50%     1275.000000      2.000000     72.000000       3.0    5.454545e+03
75%     1670.000000      3.000000    120.000000       3.0    7.338057e+03
max    52272.000000     40.000000   3600.000000      43.0    1.200000e+07

In [43]:
(df['total_sqft']/df['BHK']).describe()

count    13304.0
mean        <NA>
std         <NA>
min         <NA>
25%         <NA>
50%         <NA>
75%         <NA>
max         <NA>
dtype: Float64

In [44]:
df=df[((df['total_sqft']/df['BHK'])>=300)]

In [45]:
df.head()

,location,size,total_sqft,bath,price,BHK,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [46]:
df.shape

(12321, 7)

In [47]:
def remover_outlier_sqft(df1):
    Q1 = df['price_per_sqft'].quantile(0.25)
    Q3 = df['price_per_sqft'].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df1_filtered = df[(df['price_per_sqft'] >= lower_bound) & (df['price_per_sqft'] <= upper_bound)]
    return df1_filtered

df = remover_outlier_sqft(df)
df.describe()

         total_sqft          bath         price       BHK  price_per_sqft
count  11334.000000  11334.000000  11334.000000   11334.0    11334.000000
mean    1519.129989      2.468590     85.622218  2.574996     5426.838655
std     1203.364485      0.978022     69.781155  0.905475     1773.060574
min      300.000000      1.000000      9.000000       1.0      267.829813
25%     1101.250000      2.000000     48.000000       2.0     4121.346631
50%     1278.000000      2.000000     65.375000       2.0     5113.978230
75%     1639.000000      3.000000     99.000000       3.0     6437.197307
max    52272.000000     16.000000   2100.000000      16.0    11025.000000

In [48]:
df.head()

,location,size,total_sqft,bath,price,BHK,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [49]:
def BHK_remover_outlier_sqft(df1):
    Q1 = df['BHK'].quantile(0.25)
    Q3 = df['BHK'].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df1_filtered = df[(df['BHK'] >= lower_bound) & (df['BHK'] <= upper_bound)]
    return df1_filtered

df = remover_outlier_sqft(df)
df.describe()

         total_sqft          bath         price       BHK  price_per_sqft
count  11025.000000  11025.000000  11025.000000   11025.0    11025.000000
mean    1486.457096      2.444172     81.617616  2.554376     5291.258818
std      949.083419      0.959819     63.495777  0.893638     1584.165227
min      300.000000      1.000000      9.000000       1.0      729.860414
25%     1100.000000      2.000000     47.000000       2.0     4095.238095
50%     1270.000000      2.000000     65.000000       2.0     5046.728972
75%     1610.000000      3.000000     95.000000       3.0     6295.081967
max    36000.000000     16.000000   2100.000000      16.0     9909.909910

In [50]:
df.drop(columns=['size','price_per_sqft'],inplace=True)

# Cleaned data

In [51]:
df.head()

                   location  total_sqft  bath   price  BHK
0  Electronic City Phase II      1056.0   2.0   39.07    2
1          Chikka Tirupathi      2600.0   5.0  120.00    4
2               Uttarahalli      1440.0   2.0   62.00    3
3        Lingadheeranahalli      1521.0   3.0   95.00    3
4                  Kothanur      1200.0   2.0   51.00    2

In [52]:
X=df.drop(columns=['price'])
y=df['price']

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [54]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=101)

In [55]:
print(X_train.shape)
print(y_test.shape)

(8820, 4)
(2205,)

In [56]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
import numpy as np

X_train_processed = X_train.copy()
X_train_processed['location'] = X_train_processed['location'].replace(['HAL 2nd Stage', '1st Block Jayanagar'], np.nan)

column_trans = make_column_transformer(
    (OneHotEncoder(sparse=False), ['location']),
    remainder='passthrough'
)
lr = LinearRegression()

pipeline = make_pipeline(column_trans, lr)

In [57]:
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder()
categorical=[['location']]
one.fit_transform(categorical)

<1x1 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [58]:
#location=df['location'].mode()

In [59]:
#df['location']=df['location'].fillna(value=0,inplace=True)

In [60]:
pipeline.fit(X_train,y_train)

C:\Users\realme\anaconda4\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('linearregression', LinearRegression())])

In [61]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

# Define the categorical data
categorical = [['location']]

# Convert the inner lists into a 2D array-like structure
categorical_array = np.array(categorical).reshape(-1, 1)

# Create an instance of the OneHotEncoder
one = OneHotEncoder()

# Fit and transform the categorical data
one_hot_encoded = one.fit_transform(categorical_array)

# Print the encoded data
print(one_hot_encoded)

  (0, 0)	1.0

In [63]:
from sklearn.preprocessing import LabelEncoder
lr=LabelEncoder()
df['location']=lr.fit_transform(df['location'])
df['location']

0         78
1         60
2        225
3        158
4        150
        ...
13313    225
13314     86
13315    234
13317    193
13319     73
Name: location, Length: 11025, dtype: int32

In [65]:
df.head()

   location  total_sqft  bath   price  BHK
0        78      1056.0   2.0   39.07    2
1        60      2600.0   5.0  120.00    4
2       225      1440.0   2.0   62.00    3
3       158      1521.0   3.0   95.00    3
4       150      1200.0   2.0   51.00    2

In [64]:
y_pred_lr=pipeline.predict(X_test)

ValueError: Found unknown categories ['HAL 2nd Stage', '1st Block Jayanagar'] in column 0 during transform

In [ ]:
r2_score(y_test,y_pred_lr)